<% if @orders.any? %>
<ul class="narwal-order__wrapper">
  <% @orders.each do |order| %>
    <%= link_to "https://#{@current_shopify_session.domain}/admin/orders/#{order.order_id}", target: "_top", class: "narwal-order__item-wrapper" do %>
      <li class="narwal-order__item">
        <%= image_tag 'narwal_flag_icon.svg', alt: "Narwhal Order Logo", class: "narwal-order__item-img" %>
        <p class="narwal-order__item-text">
          <span class="narwal-order__item-text--bold"><%= order.customer %></span> made a narwhal order.
        </p>
        <p class="narwal-order__item-text narwal-order__item-text--id"> ORDER #<%= order.order_name %></p>
      </li>
    <% end %>
  <% end %>
</ul>
<% else %>
  <div class="narwal-order__wrapper">There is no order.</div>
<% end %>
