<!--<h2>Products</h2>-->

<!--<ul>-->
  <%# @products.each do |product| %>
<!--    <li><%#= link_to product.title, "https://#{@current_shopify_session.domain}/admin/products/#{product.id}", target: "_top" %></li>-->
  <%# end %>
<!--</ul>-->

<!--<hr>-->

<h2>Orders</h2>

<% if @orders.any? %>
<ul>
  <% @orders.each do |order| %>
    <li>
      <span>Order Name: <%= link_to "##{order.order_name}", "https://#{@current_shopify_session.domain}/admin/orders/#{order.order_id}", target: "_top" %></span>
      <span>Customer: <%= order.customer %></span>
    </li>
  <% end %>
</ul>
<% else %>
  <div>There is no order.</div>
<% end %>
